<% include ../header.ejs %>

<% if(typeof(account.login) == "undefined"){ %>
  <ul class='menu'>
        <li><a href='/login'>login</a></li>
        <li><a href='/account/new'>criar conta</a></li>
  </ul>
<% } else { %>



<!-- Event card -->
<style>
.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
</style>

<!-- Image card -->
<style>
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
h1,
h2,
h3,
p {
  font-weight: 300;
  margin: 0 0 2.4rem 0;
}
h1,
h2,
h3 {
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: $modal-delay;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: #00b8d4;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */
body {
  height: 100vh;
}
img {
  max-width: 100%;
}
.demo-btns header {
  padding: 7vh 10vw;
  background: #ffebee;
  display: flex;
  align-items: center;
}
.demo-btns header h1 {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}
.demo-btns .info {
  background: #f44336;
  padding: 3vh 10vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.demo-btns p {
  text-align: center;
  color: #fff;
}
.demo-btns .link {
  font-size: 20px;
}
.demo-btns .modal__trigger {
  margin-right: 3px;
}
@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}
.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 45px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}

</style>

<!-- Square card -->

<style>
  a { text-decoration: none}
  .demo-card-square.mdl-card {
    width: 75%;
    height: 120px;
    display: flex;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

  .demo-card-square.mdl-card img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }

  .demo-card-square.mdl-card img:hover {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    box-shadow: 0 8px 14px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .demo-card-square.mdl-card:hover {
    top: -2px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }

  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #d1c4e9;
  }
</style>
  <!-- Modal -->
  <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__content">
        <h4>Solicitãções De Amizades</h4>
        <% if (account.friends)  { %>  
        
          <ul class="demo-list-control mdl-list">
          <% for (account.friend of account.friends) {%> 
            <% if ((account.friend.allow) == false) { %> 

                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">person</i>
                    <%= account.friend.suitorUsername%>
                  </span>
                    <button class="mdl-button mdl-js-button  mdl-button--colored" value="<%= account.friend.suitorUsername%>" name="allow" type="submit">
                      ACEITAR
                    </button>
                    <button class="mdl-button mdl-js-button  mdl-button--colored" value="<%= account.friend.suitorUsername%>" >
                      <span class="mdl-list__item-primary-content">
                        <i class="material-icons">
                          clear
                        </i>
                      </span>
                    </button>
                    
                    </a>
                </li>
             <% } %>  
          <% } %>
          </ul>
        
        <%}%>

        
        <!-- modal close button -->
        <a href="" class="modal__close demo-close">
          <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
        </a>
        
      </div>
    </div>
  </div>






<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp animated fadeInDown" style="background-color: #4fc3f7;">
        <div class="mdl-card__title mdl-card--expand" style="color:#fff">
          <h4>
            Objetivos
          </h4>
          <div style="margin-top:50px; margin-left: -100px;">
            <a class="mdl-navigation__link" href="/api/quiz">
              <i class="material-icons mdl-badge mdl-badge--overlap" style="color: #ffea00;" id="warning">error</i>
            </a>
            <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="warning">
              <strong>Pendente</strong>
            </div>

            <a href="https://www.imdb.com/title/tt0172495/"><small id="historia">Assistir <b>Gladiador</b></small></a>
            <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="historia">
              <strong>HISTÓRIA</strong>
            </div>

            <br><br>
            <a class="mdl-navigation__link" href="/api/quiz">
              <i class="material-icons mdl-badge mdl-badge--overlap" style="color: #c30000;" id="pause">remove_circle</i>
            </a>
            <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="pause">
              <strong>Pausado</strong>
            </div>

            <a href=""><small id="biologia">Biocélulas<b></b></small></a>
            <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="biologia">
              <strong>BIOLOGIA</strong>
            </div>

            <br><br>
            <a class="mdl-navigation__link" href="/api/quiz">
              <i class="material-icons mdl-badge mdl-badge--overlap" style="color: #76ff03;" id="sucess">check_circle</i>
            </a>
            <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="sucess">
              <strong>Concluído</strong>
            </div>

            <a href=""> <small id="informatica">Lógica De Programação<b></b></small></a>
            <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="informatica">
              <strong>INFORMÁTICA</strong>
            </div>

          </div>
          
        </div>

        <div class="mdl-card__actions mdl-card--border" >
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color:#fff;">
            <span style="font-size: 20px;">
              <i class="fas fa-tasks"></i>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;
              Tarefas
          </a>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>

  </div>


<div class="mdl-cell mdl-cell--4-col">


 <% if((account.friends) != "undefined") { %>

<h6 class="animated fadeIn delay-1s">Ultimas Noticias  
  <a href="/api/dashboard">
    <button id="refresh" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
      <i class="material-icons">
        autorenew
      </i>
    </button>
    <div class="mdl-tooltip mdl-tooltip--down" data-mdl-for="refresh">
      <strong>Atualizar Página</strong>
    </div>
  </a>
</h6>  

<br/>


<style>
.demo-card-wide.mdl-card {
  width: 512px;
  background-color: #fff1ff;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 76px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.avatar-school {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.avatar-school:hover{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center right;
  object-position: center right;
}


.scroll-news {
  overflow:scroll;
  height:56%;
  overflow:auto;
}


.scroll-news::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scroll-news::-webkit-scrollbar {
  width: 1px;
  background-color: #F5F5F5;
}

.scroll-news:hover::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  display: block;
}

.scroll-news::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
</style>

<% if ((account.session.location.addressState) == 'ES') { %>
  <a href="#ufes">  
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;UFES
    </button>
  </a>

  <a href="#uvv">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;UVV
    </button>
  </a>
  <a href="#ifes">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;IFES
    </button>
  </a>

  <a href="#multivix">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;MULTIVIX
    </button>
  </a>

  <a href="#faesa">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;FAESA
    </button>
  </a>

  <a href="#salesiano" >
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;SALESIANO
    </button>
  </a>

  <a href="#ucl">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;UCL
    </button>
  </a>

<% }%>

<% if ((account.session.location.addressState) == 'RJ') { %>
  <a href="#ufes">  
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;UFRJ
    </button>
  </a>
  <a href="#ifrj">  
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect animated fadeIn delay-2s">
      <i class="material-icons">school</i>&nbsp;&nbsp;IFRJ
    </button>
  </a>
<% } %>
  
<br/><br/><br/><br/><br/><br/>


<% if (account.newsUfes) { %>
<ul class="scroll-news">
  <% for (account.newUfes of account.newsUfes) { %>
    

<div class="demo-card-wide mdl-card mdl-shadow--2dp animated fadeIn delay-1s" id="ufes">
  <div class="mdl-card__title" style="background-color: #144575;">
     <img src="http://portal.ufes.br/sites/default/files/styles/imagem_conteudo/public/field/image/brasao_ufes.jpg?itok=E2_QeIGv" class="avatar-school" />
     <h4><%= account.newUfes.tags[0] %></h4>
  </div>
  <div class="mdl-card__supporting-text">
  
      <h5><%= account.newUfes.content %></h5>
    
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>


<br><br><br><br>


  <% } %>

<% } %>

<% if (account.newsIfes) { %>
  <% for (account.newIfes of account.newsIfes) { %>
    

<div class="demo-card-wide mdl-card mdl-shadow--2dp animated fadeIn delay-1s scroll-news" id="ifes">
  <div class="mdl-card__title" style="background-color: #7cb342">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRdEf38UmxlgtDQPk26sWSHw3S3u5vdU4uc9ZX6wHhXPRabSnR" class="avatar-school" />
    <h4><%= account.newIfes.tags[0] %></h4>
  </div>
  <div class="mdl-card__supporting-text">
  
    <h6><%= account.newIfes.content %></h6>
    
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
<br><br><br><br>


  <% } %>

<% } %>
</ul>








</div>

 <div class="mdl-cell mdl-cell--4-col" >
    


    <ul class="demo-list-control mdl-list scroll-contacts" id="solicitations">
    <% for (account.friend of account.friends) {%> 
    
      <% if ((account.friend.allow) == false) { %> 
      <li>
        

        <button class="animated fadeIn delay-3s mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="font-size: 20px; color: #ff1744; margin-left:94%" onclick="ocultar('solicitation');" id="close">
          <i class="material-icons">clear</i>
        </button>
      <form action="/api/dashboard" method="POST" >

      <div class="demo-card-square mdl-card mdl-shadow--2dp animated fadeInRight delay-2s" style="width: 70%; margin-left: 24%" id="solicitation">
        <div class="mdl-card__title mdl-card--expand">
     

     <% let idFriend = account.users.find( friend => friend.username === account.friend.suitorUsername); %>   

      <a href='/api/users/profile/<%= idFriend._id %>'>
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
      </a>
          <a href='/api/users/profile/<%= idFriend._id %>'>
            <h2 class="mdl-card__title-text" style="margin-left: 10px;">@<%= account.friend.suitorUsername %> </h2>
          </a>

        </div>

        <div class="mdl-card__supporting-text">
          <p>
            " <%= idFriend.status %> "
          </p>
            

        </div>
        <div class="mdl-card__actions mdl-card--border">

        <button class="mdl-button mdl-js-button mdl-button--colored" value="<%= account.friend.suitorUsername%>" name="allow" type="submit" onclick="myFunction();">
          <span style="font-size: 20px; color: #00e676;">
            <i class="fas fa-check"></i>
          </span>ACEITAR
        </button>

        <button class="mdl-button mdl-js-button  mdl-button--colored close" value="<%= account.friend.suitorUsername%>" name="disallow" type="submit">
          <span style="font-size: 20px; color: #c4001d;">
            <i class="fas fa-ban"></i>
          </span>RECUSAR
        </button> 
      </form>



        </div>
      </div>

      </li><br/><br/>
  <% }%>

    <% } %>
    </ul>

<% } %>










<style>

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
</style>



<!-- The actual snackbar -->
<div id="snackbar">Você aceitou a solicitação de amizade de</div>

<script>

function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar")

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

</script>











<script>
$(document).ready(function(){
  $("#ocultar").click(function(event){
    event.preventDefault();
    $("#solicitations").hide("slow");
  });
 
});

function ocultar(el) {
        var display = document.getElementById(el).style.display;
        if(display == "none")
            document.getElementById(el).style.display = 'block';
        else
            document.getElementById(el).style.display = 'none';
            document.getElementById('close').style.display = 'none';
    }
</script>

<style>
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
.badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}



*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 500px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: '';
  display: block;
  width: 190px;
  height: 300px;
  background: cadetblue;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ECECEC;
  width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

</style>





























































    </div>








<% } %>








<style>

.scroll-messages {
  overflow:scroll;
  height:360px;
  overflow:auto;
}


.scroll-messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scroll-messages::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-messages:hover::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.scroll-messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

</style>







  <dialog class="mdl-dialog animated fadeInDown">
    <div class="mdl-dialog__content scroll-messages" >


    

    <% if((account.messages) != "undefined") { %>
    
      <ul>
        <% for (account.message of account.messages) {%> 
          <% if((account.message.creator) != null ) {
              var dataFormatada = new Date(account.message.datePublished);
          %>
            <li>
              <p>


              <% if ((account.users) != 'undefined') { %>

                <% let usuario = account.users.find( user => user.username === account.message.creatorName ); %>

                <% if(usuario) { %>
                    <button type="button" class="mdl-chip">
                      <a href='/api/users/profile/<%= usuario._id %>'>  
                        <span class="mdl-chip__text"><b><%= usuario.username %></b></span>
                      </a>
                    </button>
                    
                  <br/><br/>
                <% } %>


              <% } else { %>

                <button type="button" class="mdl-chip">
                  <span class="mdl-chip__text"><b><%= account.message.creatorName %></b></span>
                </button><br/><br/>

              <% } %>
              

               <%= account.message.text %></p>
              <small class='publish_date'>
                <%=
                  dataFormatada.getHours() + ":" +
                  dataFormatada.getMinutes() + " " +
                  dataFormatada.getDate() + "/"  +
                  (dataFormatada.getMonth() + 1 )
                %>
              </small>
            </li><br/>

            <% if(typeof(account.message.content) != 'undefined') { %>
              <li>comentarios: 
                <p><a href="">@<%= account.author %></a>: <%= account.message.content %></p>

                    <i class="material-icons">
                    thumb_up_alt
                    </i>

                    <i class="material-icons">
                    thumb_down_alt
                    </i>

              </li><br/>
              <h6>Comentar: </h6>
              <form action = '/dash' method = 'POST'>

                <label>comentário: </label>
                <input name='content' id='message_content'></input>

                <input type='submit' value='Enviar' />
              </form>
            <% } %>

          <% } %>
        <% } %>

      </ul>

    <% } %>

    </div>

    <div class="mdl-dialog__actions mdl-dialog__actions">

    <% if (account.message) { %>
      <% let user = account.users.find( user => user.username === account.message.creatorName ); %>

      <a href='/api/message/<%= user._id %>' class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Responder
      </a>

    <% }%>
    <button type="button" class="mdl-button close">Fechar</button>

    </div>
  </dialog>

<script>

  var dialog = document.querySelector('dialog');
  var showModalButton = document.querySelector('.show-modal');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showModalButton.addEventListener('click', function() {
    dialog.showModal();
    dialog.removeClass("mdl-dialog animated fadeInDown").addClass("mdl-dialog animated fadeOutUp");
  });

  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });

</script>



<script>
var Modal = (function() {

  var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
  var modals = $qsa('.modal'); // the entire modal (takes up entire window)
  var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
  var content = $qsa('.modal__content'); // the inner content of the modal
  var closers = $qsa('.modal__close'); // an element used to close the modal
  var w = window;
  var isOpen = false;
  var contentDelay = 400; // duration after you click the button and wait for the content to show
  var len = trigger.length;

  // make it easier for yourself by not having to type as much to select an element
  function $qsa(el) {
    return document.querySelectorAll(el);
  }

  var getId = function(event) {

    event.preventDefault();
    var self = this;
    // get the value of the data-modal attribute from the button
    var modalId = self.dataset.modal;
    var len = modalId.length;
    // remove the '#' from the string
    var modalIdTrimmed = modalId.substring(1, len);
    // select the modal we want to activate
    var modal = document.getElementById(modalIdTrimmed);
    // execute function that creates the temporary expanding div
    makeDiv(self, modal);
  };

  var makeDiv = function(self, modal) {

    var fakediv = document.getElementById('modal__temp');

    /**
     * if there isn't a 'fakediv', create one and append it to the button that was
     * clicked. after that execute the function 'moveTrig' which handles the animations.
     */

    if (fakediv === null) {
      var div = document.createElement('div');
      div.id = 'modal__temp';
      self.appendChild(div);
      moveTrig(self, modal, div);
    }
  };

  var moveTrig = function(trig, modal, div) {
    var trigProps = trig.getBoundingClientRect();
    var m = modal;
    var mProps = m.querySelector('.modal__content').getBoundingClientRect();
    var transX, transY, scaleX, scaleY;
    var xc = w.innerWidth / 2;
    var yc = w.innerHeight / 2;

    // this class increases z-index value so the button goes overtop the other buttons
    trig.classList.add('modal__trigger--active');

    // these values are used for scale the temporary div to the same size as the modal
    scaleX = mProps.width / trigProps.width;
    scaleY = mProps.height / trigProps.height;

    scaleX = scaleX.toFixed(3); // round to 3 decimal places
    scaleY = scaleY.toFixed(3);


    // these values are used to move the button to the center of the window
    transX = Math.round(xc - trigProps.left - trigProps.width / 2);
    transY = Math.round(yc - trigProps.top - trigProps.height / 2);

    // if the modal is aligned to the top then move the button to the center-y of the modal instead of the window
    if (m.classList.contains('modal--align-top')) {
      transY = Math.round(mProps.height / 2 + mProps.top - trigProps.top - trigProps.height / 2);
    }


    // translate button to center of screen
    trig.style.transform = 'translate(' + transX + 'px, ' + transY + 'px)';
    trig.style.webkitTransform = 'translate(' + transX + 'px, ' + transY + 'px)';
    // expand temporary div to the same size as the modal
    div.style.transform = 'scale(' + scaleX + ',' + scaleY + ')';
    div.style.webkitTransform = 'scale(' + scaleX + ',' + scaleY + ')';


    window.setTimeout(function() {
      window.requestAnimationFrame(function() {
        open(m, div);
      });
    }, contentDelay);

  };

  var open = function(m, div) {

    if (!isOpen) {
      // select the content inside the modal
      var content = m.querySelector('.modal__content');
      // reveal the modal
      m.classList.add('modal--active');
      // reveal the modal content
      content.classList.add('modal__content--active');

      /**
       * when the modal content is finished transitioning, fadeout the temporary
       * expanding div so when the window resizes it isn't visible ( it doesn't
       * move with the window).
       */

      content.addEventListener('transitionend', hideDiv, false);

      isOpen = true;
    }

    function hideDiv() {
      // fadeout div so that it can't be seen when the window is resized
      div.style.opacity = '0';
      content.removeEventListener('transitionend', hideDiv, false);
    }
  };

  var close = function(event) {

    event.preventDefault();
    event.stopImmediatePropagation();

    var target = event.target;
    var div = document.getElementById('modal__temp');

    /**
     * make sure the modal__bg or modal__close was clicked, we don't want to be able to click
     * inside the modal and have it close.
     */

    if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {

      // make the hidden div visible again and remove the transforms so it scales back to its original size
      div.style.opacity = '1';
      div.removeAttribute('style');

      /**
      * iterate through the modals and modal contents and triggers to remove their active classes.
      * remove the inline css from the trigger to move it back into its original position.
      */

      for (var i = 0; i < len; i++) {
        modals[i].classList.remove('modal--active');
        content[i].classList.remove('modal__content--active');
        trigger[i].style.transform = 'none';
        trigger[i].style.webkitTransform = 'none';
        trigger[i].classList.remove('modal__trigger--active');
      }

      // when the temporary div is opacity:1 again, we want to remove it from the dom
      div.addEventListener('transitionend', removeDiv, false);

      isOpen = false;

    }

    function removeDiv() {
      setTimeout(function() {
        window.requestAnimationFrame(function() {
          // remove the temp div from the dom with a slight delay so the animation looks good
          div.remove();
        });
      }, contentDelay - 50);
    }

  };

  var bindActions = function() {
    for (var i = 0; i < len; i++) {
      trigger[i].addEventListener('click', getId, false);
      closers[i].addEventListener('click', close, false);
      modalsbg[i].addEventListener('click', close, false);
    }
  };

  var init = function() {
    bindActions();
  };

  return {
    init: init
  };

}());

Modal.init();
</script>



<% include ../footer.ejs %>